    body, html{
    margin: 0;
    padding: 0;
}

.container_offer_login_page{
    margin-top: 150px;
    background-image: url("../images/login-page-background.png");
    width: 100%;
    height: 510px;
    background-repeat: no-repeat;
    background-size: no-cover;
    text-align: center;
    background-position: center;
}

.form-login-login_page{
    text-align:  center;
    margin: auto;
    padding-top: 2%;
}

.form-login-login_page form{
    text-align:  center;
    background-color:  #F7F9FE;
    width:  350px;
    Height: 439px;
    border: 2px solid #3D426E;
    box-sizing: border-box;
    border-radius: 30px;
    margin: auto;
}

.form-login-login_page form input[type="button"]{
    background: #293284;
    border-radius: 20px;
    color:  white;
    font-family: Mplus1p-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    Width: 300px;
    Height: 42px;
}

.form-login-login_page form input[type="text"]{
    background: #FFFFFF;
    border: 1px solid #3D426E;
    box-sizing: border-box;
    border-radius: 20px;
    Width: 300px ; 
    Height: 42px;
}

.form-login-login_page form input[placeholder]{
    padding-left: 15px;
    color:  black;
    padding-top: 1%;
}

.form-login-login_page form img{
    padding-top: 5%;
    
}

.form-login-login_page form p{
    padding-bottom: 1%;
    font-size: 20px;
}

@media (max-width: 1050px){
.container_offer_login_page{
    margin-top: 100px;
    }
}

@media (max-width: 650px){
.form-login-login_page form{
    margin-top: 20px;
    }
}
